<a href="https://colab.research.google.com/github/deepakk7195/IISC_CDS_DS/blob/foundations_of_ds/NB_Practice_Statistics_and_Probability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Certification Program in Computational Data Science
## A program by IISc and TalentSprint
### Practice Notebook: Introduction to Statistics and Probability

##  Learning Objectives

At the end of the experiment, you will be able to :

- use the basic probability rules, terms, independent and mutually exclusive events
- understand the measures of Centre and Spread: Mean, Median, Mode, Variance, Covariance, Correlation, Normalization, Standardization terms
- perform statistics and probability related operations using Python

## Expected time to complete the experiment : 30 mins

#### Exercise 1: Import the numpy package under the name np

In [10]:
# YOUR CODE HERE
import numpy as np
import pandas as pd

#### Exercise 2: Import the scipy package under the name sp

In [6]:
# YOUR CODE HERE
import scipy as sp
from scipy import stats

#### Exercise 3: Five people play golf and at one hole their scores are

                      3, 4, 4, 5, 7.

For these scores, find Mean, Median, Mode

In [7]:
# YOUR CODE HERE
a = [3, 4, 4, 5, 7]
print(np.mean(a))
print(np.median(a))
print(stats.mode(a))

4.6
4.0
ModeResult(mode=4, count=2)

#### Exercise 4: You grow 20 crystals from a solution and measure the length of each crystal in millimeters. Here is your data:

9, 2, 5, 4, 12, 7, 8, 11, 9, 3, 7, 4, 12, 5, 4, 10, 9, 6, 9, 4

Calculate the standard deviation of the length of the crystals.

In [8]:
# YOUR CODE HERE
data = [9, 2, 5, 4, 12, 7, 8, 11, 9, 3, 7, 4, 12, 5, 4, 10, 9, 6, 9, 4]
print(np.std(data))

2.9832867780352594

#### Exercise 5:

Given below DataFrame

          data = pd.DataFrame({'salaries': [33219, 36254, 38801, 46335, 46840,
                                            47596, 55130, 56863, 78070, 88830]})

Calculate the variance of salaries

In [12]:
# YOUR CODE HERE
data = pd.DataFrame({'salaries': [33219, 36254, 38801, 46335, 46840,47596, 55130, 56863, 78070, 88830]})
print(np.var(data.salaries.values))

291622740.36

#### Exercise 6: Five people play golf and at one hole their scores are

                      3, 4, 4, 5, 7.

For these scores, find Harmonic and Geometric mean

**Hint:** To know more about Harmonic and Geometric mean click
  [here](https://medium.com/@sharmi.v.murali/arithmetic-mean-vs-geometric-mean-vs-harmonic-mean-b956cf1b2b3f)

In [13]:
# YOUR CODE HERE

data = [3, 4, 4, 5, 7]
from scipy.stats import gmean, hmean
gmean(data)
hmean(data)

4.251012145748989

#### Exercise 7: Given a DataFrame

      df = pd.DataFrame({
                  'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic'],
                   'Salary':[50000,54000,50000,189000,55000,40000,59000],
                   'Hours':[41,40,36,17,35,39,40],
                   'Experience(In Years)':[2, 2, 3, 7, 5 2, 4]})

Calculate the covariance and correlation between *Salary* and *Experience(In Years)*

In [16]:
# covariance
# YOUR CODE HERE
df = pd.DataFrame({
              'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic'],
               'Salary':[50000,54000,50000,189000,55000,40000,59000],
               'Hours':[41,40,36,17,35,39,40],
               'Experience(In Years)':[2, 2, 3, 7, 5,2, 4]})

# CAlculating Covariance -
print(df['Experience(In Years)'].cov(df['Salary']))
# calculating Correlation -
print(df['Experience(In Years)'].corr(df['Salary']))

82833.33333333333
0.8314219298762264

In [ ]:
# correlation
# YOUR CODE HERE

#### Exercise 8: Given a DataFrame

      df = pd.DataFrame({
                  'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic'],                  
                   'Salary':[50000,54000,50000,189000,55000,40000,59000],                 
                   'Hours':[41,40,36,17,35,39,40],             
                   'Experience(In Years)':[2, 2, 3, 7, 5 2, 4]})

Calculate the correlation between *Experience(In Years)* and *Hours*.

In [17]:
# YOUR CODE HERE

df = pd.DataFrame({
              'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic'],
               'Salary':[50000,54000,50000,189000,55000,40000,59000],
               'Hours':[41,40,36,17,35,39,40],
               'Experience(In Years)':[2, 2, 3, 7, 5 ,2, 4]})
print(df['Experience(In Years)'].corr(df['Salary']))

0.8314219298762264

#### Exercise 9: Given a DataFrame

      df = pd.DataFrame({
                  'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic'],
                   'Salary':[50000,54000,50000,189000,55000,40000,59000],
                   'Hours':[41,40,36,17,35,39,40],          
                   'Experience(In Years)':[2, 2, 3, 7, 5 2, 4]})

Calculate the percentile score for Experience(In Years)

In [18]:
# YOUR CODE HERE
print(stats.percentileofscore(df['Experience(In Years)'], 57, 'strict'))

100.0

#### Exercise 10: Given a DataFrame

      df = pd.DataFrame({
                  'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic'],
                   'Salary':[50000,54000,50000,189000,55000,40000,59000],
                   'Hours':[41,40,36,17,35,39,40],          
                   'Experience(In Years)':[2, 2, 3, 7, 5 2, 4]})


Find the quartile thresholds for the weekly hours worked by the employees

In [19]:
# YOUR CODE HERE
print(df['Hours'].quantile([0.25, 0.5, 0.75]))

0.25    35.5
0.50    39.0
0.75    40.0
Name: Hours, dtype: float64

#### Exercise 11: Given a DataFrame

a = np.random.normal(40, 10, 10000)

norm = pd.DataFrame({'nums':a})

Describe distribution of the data using skewness and kurtosis metrics.

In [22]:
# YOUR CODE HERE
a = np.random.normal(40, 10, 10000)
norm = pd.DataFrame({'nums':a})
# Calculate skewness and kurtosis
print(type(norm['nums']))
skewness = norm['nums'].skew()
kurt = norm['nums'].kurtosis()

# Print the results
print(f"Skewness: {skewness}")
print(f"Kurtosis: {kurt}")

<class 'pandas.core.series.Series'>
Skewness: -0.03824774519788778
Kurtosis: 0.02817054192127122

#### Exercise 12:  Given an array 'Y', Find the skewness of the data

In [25]:
from scipy.stats import skew

X = np.linspace( -5, 5, 1000 )

Y = 1./(np.sqrt(2.* np.pi)) * np.exp( -.5*(X)**2)

# YOUR CODE HERE
skewness = pd.Series(Y).skew()
print(skewness)

1.112493149435923